# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
* Some of the popular languages that Data Scientists use are:
* Some of the commonly used libraries used by Data Scientists include:
* Data Science Tools
* Basic Arithmatic operations

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia
5. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Keras
4. Tensorflow

|Data Science Tools|
--------------------
RStudio
JupyterNotebook
KNIME

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
Hours= 200//60
Minutes=200%60
print(Hours,'hr',Minutes,'min')

3 hr 20 min

## Author
Ananya